@media screen and (max-width: 1340px) {
    /* common */

    .container {
        max-width: 1124px;
        padding: 0 50px;
    }

    /* header */

    .menu__list  {
        flex-direction: column;
    }

    .menu__item {
        margin: 0;
    }

    .burger-content {
        display: block;
    }

    .burger-dropdown__btn {
        display: block;
    }

    .header-burger {
        position: relative;
        width: 35px;
        height: 27px;
        font-size: 0;
        z-index: 3;
        border: none;
        background-color: transparent;
    }

    .header-burger span {
        position: absolute;
        background-color: #fff;
        width: 79%;
        height: 4px;
        left: 0;
        top: 12px;
    }

    .header-burger::before, 
    .header-burger::after {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 4px;
        left: 0;
        transition: .3s;
    }

    .header-burger::before {
        top: 0;
    }

    .header-burger::after {
        bottom: 0;
        width: 67%;
    }

    .header-burger.active::before{
        transform: rotate(45deg);
        top: 13px;
    }

    .header-burger.active::after{
        transform: rotate(-45deg);
        width: 100%;
        bottom: 10px;
    }

    .header-burger.active span {
        transform: scale(0);
    }

    .burger-dropdown {
        position: absolute;
        z-index: 2;
        top: -768px;
        left: 0;
        width: 100%;
        height: 768px;
        transition: .3s;
        opacity: 90%;
        background-color: var(--black-color);
        padding: 70px 10px 20px 10px;
        overflow: auto;
    }
    
    .burger-dropdown__list {
        padding-top: 28px;
        padding-left: 39px;
        margin-bottom: 109px;
    }
    
    .burger-dropdown__item {
        font-weight: 600;
        font-size: 24px;
        line-height: 64px;
    }
    
    .burger-dropdown.active {
        top: 0;
        transition: .3s;
    }

     .burger-dropdown__btn {
        padding: 20px 103px;
        font-size: 16px;
        margin-left: 40px;
        border: 2px solid var(--dark-purple-color);
        border-radius: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-position-x: 85px;
        color: var(--white-color);
    } 

    .media-search-content {
        position: relative;
    }

    .media-search {
        display: block;
    }

    .media-form-open {
        display: block;
    }

    .media-form {
        position: absolute;
        top: 0;
        right: 0;
    }

    .media-search-is-open {
        display: none;
    }

    .search__btn {
        margin: 0;
        width: 26px;
        height: 26px;
    }

    .search__input::placeholder {
        font-size: 0;
    }

    .search__btn::before {
        bottom: -2px;
        left: -5px;
        transform: rotate(138deg);
    }

    .header-login {
        display: none;
    }

    .burger-dropdown__btn {
        display: inline-block;
    }

    .header-bottom {
        display: none;
    }

    /* hero */

    .hero {
        height: 768px;
    }

    .hero__content {
        top: 213px;
        max-width: 661px;
    }

    .hero__heading {
        margin-bottom: 13px;
    }

    .hero__descr {
        margin-bottom: 133px;
    }

    .swipper-slide {
        background-size: 1024px 768px;
    }

    /* gallery */

    .gallery {
        height: 839px;
    }

    .gallery-content {
        height: 602px;
    }

    .gallery-content__left {
        min-width: 280px;
    }

    .gallery-slider__btns {
        left: 330px;
    } 

    .gallery-slide {
        max-height: 280px;
        max-width: 280px;
    }

    /* catalog */

    .catalog__btns {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .catalog-content__left {
        background-size: 437px 273px;

    }

    .tab-link-active {
        padding-top: 307px;
        height: 732px;
        justify-content: flex-start;
    }

    .ui-accordion-content-active {
        height: 438px;
    }

    .name__list {
        width: 50%;
    }

    .name__list:nth-child(2) {
        padding-left: 26px;
    }

    .name-list-media {
        display: none;
    }

    .name-item-media {
        display: block;
    }

    .name__link {
        letter-spacing: 0.5px;
    }

    /* events */

    .events {
        padding-top: 87px;
    }

    .events-content {
        justify-content: space-between;
        margin: 0 -8.5px;
    }

    .event-item__img {
        height: 200px;
    }
    
    .events-content__item {
        min-height: 683px;
        width: 290px;
        /* width: calc(100% / 12 * 4 - 50px); */
        margin: 0 8.5px 8.5px;
    }

    .events-content__descr {
        min-height: 480px;
        padding-left: 34px;
        padding-bottom: 55px;
    }

    /* editions */

    .editions-left {
        margin-right: 18px;
    }

    .checkbox__lable {
        padding-left: 19px;
        font-size: 16px;
    }

    .edition-slide img {
        width: 290px;
        height: 320px;
    }

    .edition-slide__content {
        padding-top: 13px;
    }

    .pag2 {
        left: 310px;
    }

    .prev-2 {
        left: 293px;
    }

    .next-2 {
        left: 395px;
    }

    /* projects */

    .projects-container {
        max-width: 818px;
        overflow: hidden;
        margin: 0 auto;
    }

    .next-3, .prev-3 {
        top: 48px;
    }

    /* contacts */

    .contacts-content__right {
        width: calc(55% - 26px);
    }

    .contacts-content__left {
        padding: 122px 20px 0 49px;
        width: 48%;
    }

    .contacts__form {
        max-width: 335px;
    }

    .icons__heading {
        margin-bottom: 17px;
    }

    .icon__whatsapp {
        margin-right: 26px;
    }

    .icon__whatsapp,
    .icon__telegram {
        width: 60px;
        height: 60px;
        background-size: 60px;
    }

    /* footer */

    .sotial__link:not(:last-child) {
        margin-right: 26px;
    }
    
    .sotial__link {
        width: 60px;
        background-repeat: no-repeat;
        background-size: 63px;
        height: 60px;
    }
}